@using System.Web.Http
@using TestingSystem.Web.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div class="vertical-offset-15">
    <div class="panel panel-info text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-header">@ViewBag.Title</h1>
        </div>
        <div id="body" class="help-page">
            <section class="content-wrapper main-content clear-fix">
                @Html.DisplayForModel()
            </section>
        </div>
    </div>
</div>