@using System.Web.Http
@using TestingSystem.Web.Areas.HelpPage.ModelDescriptions
@model ModelDescription

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div class="vertical-offset-15">
    <div class="panel panel-primary text-center center-x">
        <div class="panel-heading">
            <h1 class="bhoechie-inverse">@Model.Name</h1>
        </div>
        <div class="panel-body">
            <p>@Model.Documentation</p>
            <section class="content-wrapper main-content clear-fix">
                @Html.DisplayFor(m => Model)
            </section>
        </div>
    </div>
</div>