@{
    ViewBag.Title = "Сваляне";
}


<div class="row black">
    <div class="col-md-4 col-sm-5">
        <img src="~/Images/telephones.png" class="img-responsive" alt="Mobile phones" />
    </div>
    <div class="col-md-8 col-sm-7">
        <h2>СВАЛЕТЕ СЕГА НАШАТА ТЕСТОВА СИСТЕМА НА ВАШИЯ МОБИЛЕН ТЕЛЕФОН ИЛИ ТАБЛЕТ.</h2>
        <hr />
        <h3>За потребителите на Android и Windows Phone</h3>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <a href="https://www.dropbox.com/s/2limqe3vgr74sgi/ratesystem.apk?dl=1">
                    <img src="~/Images/android.png" class="img-responsive download-image" alt="Android logo" />
                </a>
            </div>
            <div class="col-md-6 col-sm-6">
                <a href="https://www.dropbox.com/s/3m2l1r87oe0wxxb/TestSystem.xap?dl=1">
                    <img src="~/Images/windows-phone.png" class="img-responsive download-image" alt="Windows Phone logo" />
                </a>
            </div>
        </div>
      
   
    </div>
</div>


